@font-face {
  font-family: 'iconfont';  /* project id 594560 */
  src: url('http://at.alicdn.com/t/font_594560_rtx6fbanywl.eot');
  src: url('http://at.alicdn.com/t/font_594560_rtx6fbanywl.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_594560_rtx6fbanywl.woff2') format('woff2'),
  url('http://at.alicdn.com/t/font_594560_rtx6fbanywl.woff') format('woff'),
  url('http://at.alicdn.com/t/font_594560_rtx6fbanywl.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_594560_rtx6fbanywl.svg#iconfont') format('svg');
}
.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-person:before { content: "\e60c"; }

.icon-search:before { content: "\e613"; }

.icon-next:before { content: "\e610"; }

.icon-date:before { content: "\e614"; }

.icon-github:before { content: "\eee2"; }

