// reset
*,*:before,*:after{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: currentColor;
    transition: color .3s ease;
}
img{
    max-width: 100%;
}

ul, ol{
    list-style: none;
}

ul,li,p,h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}

body{
    font-family: -apple-system,Verdana,"PingFang SC","Helvetica Neue",Arial,"Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f7f8fa;
    color: #656565;
}

.container{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}