%tag{
    display: inline-block;
    padding: 0 8px 2px;
    font-size: 14px;
    color: #a6abb2;
    line-height: 22px;
    box-shadow: 0 0 0.6px #d5dae1;
    border-radius: 2px;
    background-color: #fafafa;
}